<%- include('../cabecalho') %>
<%- include('../menu') %>

<div class="container">
        <h1>Autores</h1>
        <p><a class="btn btn-primary" href="/admin/autores/novo">Novo</a></p>
        <table class="table table-striped">
            <thead>
                <th>Nome</th>
                <th>Email</th>
                <th>Admin</th>
                <th></th>
            </thead>
            <tbody id="tabela">
                <% autores.forEach(function(autor){ %>
                    <tr>
                        <td><%= autor.nome %></td>
                        <td><%= autor.email %></td>
                        <td>
                            <% if(autor.admin){ %>
                                <span class="glyphicon glyphicon-ok"></span></td>
                            <% } %>
                        </td>
                        <td><a class="btn btn-info" href="/admin/autores/<%=autor._id%>"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <!-- <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button> -->
                    </tr>
                <% }); %>   
            </tbody>
        </table>
</div>


<%- include('../rodape') %>