<%- include('../cabecalho') %>
<%- include('../menu') %>

<div class="container">

    <h2>Autor</h2>
    <form class="form-horizontal" method="POST" action="/admin/autores/<%= autor._id %>">
        <%- include('formautor') %>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Alterar</button>
                <a href="/admin/autores" class="btn btn-default">Cancelar</a>
                <a href="/admin/autores/<%= autor._id %>/excluir" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </form>
</div>


<%- include('../rodape') %>